@charset "UTF-8";

* {
	font-family: 'Noto Sans KR', sans-serif;
}

/* user 공통 헤더 */
header {
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 51;
    background: #fff;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 62px;
    box-shadow: 0 1px 0 0 rgb(0 0 0 / 8%);
}

header > .head-logo {
    max-width: 1320px;
    margin: 0 auto;
}

header > .head-logo > img {
	width: 13%;
    float: left;
    margin: 9px 0 0 0;
}

/* 공통 부분 */
.login-layer, .admin-layer, .join-layer {
	width: 420px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 8%);
    box-sizing: border-box;
	text-align: center;
	top: 50%;
    padding: 46px 0 60px 0;
}

.login-layer form > button, .admin-layer > button, .join-layer button, .findPw-layer button {
	width: 347px;
    height: 49px;
    border: none;
    border-radius: 6px;
    margin-top: 10px;
    background: #FF2F62;
    color: white;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
}

.login-layer form > div > input, .join-layer form > div > input,
.login-layer form > div > input, .join-layer form > div > input,
.findPw-layer form > div > input {
	width: 325px;
    height: 50px;
    margin-bottom: 10px;
    border: none;
    background: #F5f5f5;
    border-radius: 6px;
    padding: 0 12px;
    caret-color: #FF2F62;
}

.login-layer form > div > .no, .join-layer form > div > .no,
.findPw-layer form > div > .no {
	background-image: url(../images/no.svg);
    background-repeat: no-repeat;
    background-position: 93% 52%;
}

.login-layer form > div > .ok, .join-layer form > div > .ok,
.findPw-layer form > div > .ok {
	background-image: url(../images/ok.svg);
    background-repeat: no-repeat;
    background-position: 93% 52%;
}

.login-layer form > div > input:focus, .join-layer form > div > input:focus,
.findPw-layer form > div > input:focus {
	outline: none;
}

.login-layer form > div > .useremail-text, .userpw-text {
	color: rgb(245, 0, 0);
    font-size: 11px;
    text-align: left;
    margin: -4px 0px 13px 47px;
    display: none;
}

.join-layer form > div > .useremail-text, .userpw-text, .username-text, .check-text {
	color: rgb(245, 0, 0);
    font-size: 11px;
    text-align: left;
    margin: -4px 0px 13px 47px;
    display: none;
}

.findPw-layer form > div > .useremail-text {
	color: rgb(245, 0, 0);
    font-size: 11px;
    text-align: left;
    margin: -4px 0px 13px 47px;
    display: none;
}

/* login.jsp */
.login-layer {
	transform: translateY(36%);
}

.login-layer .logo {
	text-align: center;
    margin-top: 10px;
}

.login-layer .logo > img {
	height: 65px;
    display: inline-block;
    margin-left: 8px;
}

.login-layer .login-text {
	font-weight: bold;
	font-size: 18px;
	margin: 15px 0 22px 0;
}

.login-layer form {
	margin: 20px 0 20px 0;
}

.login-layer a {
	color: #FF2F62;
	text-decoration: none;
	cursor: pointer;
	font-weight: bold;
}

.login-layer .join-text {
	margin-top: 18px;
}

/* admin.jsp */
.admin-layer {
	transform: translateY(50%);
}

.admin-layer .admin-text {
	font-weight: bold;
	font-size: 18px;
	margin: -10px 0 22px 0;
}

.admin-layer > .text {
	margin: 6px 0 16px 0;
    font-size: 21px;
}

#loading {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	display: block;
	opacity: 0.6;
	background: #e4e4e4;
	z-index: 99;
	text-align: center;
}

#loading > img {
	position: absolute;
	top: 44%;
	left: 48%;
	z-index: 100;
}

#loading > p {
 	position: absolute;
 	top: 50%;
 	left: 42%;
 	z-index: 101;
}

/* join.jsp */
.join-layer {
	transform: translateY(10%);
}

.join-layer .logo {
	text-align: center;
    margin-top: 10px;
}

.join-layer .logo > img {
	height: 65px;
    display: inline-block;
    margin-left: 8px;
}

.join-layer .join-text {
	font-weight: bold;
	font-size: 18px;
	margin: 15px 0 22px 0;
}

.join-layer > #auth {
	background: #f2f2f2;
	cursor: default;
}

.join-layer > form > .authdiv {
	display: none;
	width: 420px;
}

.join-layer > form > .authdiv > #authnum {
	width: 59%;
}

.join-layer > form > .authdiv > #authbt {
	width: 17%;
    height: 46px;
    margin: 0;
}

.join-layer form > .checkbox-card {
    width: 350px;
    margin: 0 auto;
}

.join-layer form .checkbox-card fieldset {
	display: flex;
    flex-wrap: wrap;
}

.join-layer form .checkbox-card fieldset > div {
	margin: 0px 12px 4px 5px;
}

.join-layer form .checkbox-card fieldset > div > label {
	font-size: 15px;
}

.join-layer form .checkbox-card input[type="checkbox"] {
	display: none;
}

.join-layer form .checkbox-card input[type="checkbox"] + label span {
	display: inline-block;
    width: 13px;
    height: 13px;
    margin: -1px 6px 0 0;
    vertical-align: middle;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid red;
}

.join-layer form .checkbox-card input[type="checkbox"]:checked + label span {
	background: url(../images/check.png) #FF2F62 no-repeat center/12px 12px;
}

/* findPw.jsp */
.modal{ 
	position:absolute;
	width:100%;
	height:100%;
	background: rgba(0,0,0,0.4);
	top:0;
	left:0;
	display:none;
}

.modal_content{
	width: 390px;
    height: 546px;
    background: #fff;
    border-radius: 10px;
    position: relative;
    top: 20%;
    left: 39.3%;
    box-sizing: border-box;
    padding: 12px 0px 0px 0px;
}

.x {
	cursor: pointer;
	padding-left: 15px;
}

#findPw-body {
	margin: 0px;
	overflow: hidden;
}

.findPw-head {
	width: 100%;
    height: 44px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(227, 227, 227);
    letter-spacing: -3px;
    padding-left: 20px;
}

.findPw-head > h2{
	margin: 2px 0px 0px 0px;
	font-weight: 700;
    letter-spacing: -1.2px;
    font-size: 22px;
}

.findPw-layer {
	padding: 20px 0 0px 20px;
}

.findPw-layer .main-text {
	margin-bottom: 14px;
}

.findPw-layer .main-text .text-h {
	font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.5px;
    margin-bottom: 11px;
}

.findPw-layer .main-text .text-m {
	color: rgb(140, 140, 140);
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.5px;
    padding-bottom: 6px;
}

.findPw-layer form > div > .useremail-text {
    margin: -4px 0px 0px 10px;
}

.findPw-layer form > div > .check-text {
    margin: -4px 0px 0px 10px;
}

.findPw-layer > form > .authdiv {
	display: none;
	width: 420px;
}

.findPw-layer > form > .authdiv > #authnum {
	width: 59%;
}

.findPw-layer > form > .authdiv > #findPw-authbt {
	width: 17%;
    height: 46px;
    margin: 0;
}

.findPw-layer > form > .findPw-bt {
	display: none;
}

.findPw-layer > form > .findPw-pw {
	display: none;
}

.findPw-layer form > div > .userpw-text {
    margin: -4px 0px 3px 10px;
}

.findPw-layer form > div > .userpw-re-text {
	color: rgb(245, 0, 0);
    font-size: 11px;
    text-align: left;
    margin: -4px 0px 0px 10px;
    display: none;
}

/* myPage.jsp */
.myPage {
	background-color: #F8F8F8;
}

.myPage-layer {
	width: 762px;
    height: 100%;
    margin: 92px auto 0 auto;
	background: rgb(255, 255, 255);
    border-color: rgb(227, 227, 227) !important;
    border-radius: 6px;
}

.myPage-layer .backProfile {
    position: relative;
	width: 100%;
    height: 0;
    padding-top: 32%;
    margin: 0 0 -20px;
    border-radius: 6px 6px 0 0;
}

.myPage-layer .backProfile:before {
	content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-image: linear-gradient( -180deg,rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100% );
    height: 44px;
    border-radius: 6px 6px 0 0;
}

.myPage-layer .myPage-main {
	margin: 0 20px;
}

.myPage-layer .myPage-main .profile {
	position: relative;
    z-index: 1;
}

.myPage-layer .myPage-main .profile img {
	width: 56px;
    height: 56px;
}

.myPage-layer .myPage-main .myPage-head .myPage-name {
	display: inline;
	color: #000;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: -0.9px;
    line-height: 30px;
    width: 100%;
    word-break: break-all;
}

.myPage-layer .myPage-main .myPage-head .myPage-button {
	display: inline-block;
	float: right;
}

.myPage-layer .myPage-main .myPage-head .myPage-button a {
	color: rgb(120, 120, 120);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.2px;
    line-height: 40px;
    text-decoration: none;
    cursor: pointer;
}

.myPage-layer .myPage-main hr {
    border: 0;
    border-bottom: 1px solid #f0f0f0;
    margin: 10px 0 10px;
}

.myPage-layer .myPage-main .text {
	color: rgb(0, 0, 0);
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -0.7px;
    line-height: 22px;
    margin-bottom: 10px;
}

.myPage-layer .myPage-main .text span {
    color: rgb(160, 160, 160);
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.5px;
    line-height: 20px;
    margin: 12px 0px 12px 6px;
}

.myPage-layer .myPage-main .myPage-review .review-main .main {
    width: 140px;
    height: 242px;
    padding: 0 5.4px 0 0;
}

.myPage-layer .myPage-main .myPage-review .review-main .main a {
	color: black;
	text-decoration: none;
}

.myPage-layer .myPage-main .myPage-review .review-main .main img {
	position: relative;
    overflow: hidden;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #eae9e8;
    border-radius: 5px;
}

.myPage-layer .myPage-main .myPage-review .review-main .main .title {
	color: rgb(41, 42, 50);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.3px;
    line-height: 22px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.myPage-layer .myPage-main .myPage-review .review-main .main .rate {
	color: rgb(255, 161, 54);
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -0.2px;
    line-height: 18px;
    height: 18px;
}

.myPage-layer .myPage-main .myPage-like {
	padding-bottom: 7px;
}

.myPage-layer .myPage-main .myPage-like .like-main .main {
    width: 140px;
    height: 242px;
    padding: 0 5.4px 0 0;
}

.myPage-layer .myPage-main .myPage-like .like-main .main a {
	color: black;
	text-decoration: none;
}

.myPage-layer .myPage-main .myPage-like .like-main .main img {
	position: relative;
    overflow: hidden;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #eae9e8;
    border-radius: 5px;
}

.myPage-layer .myPage-main .myPage-like .like-main .main .title {
	color: rgb(41, 42, 50);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.3px;
    line-height: 22px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.myPage-layer .myPage-main .myPage-like .like-main .main .rate {
	color: rgb(120, 120, 120);
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -0.2px;
    line-height: 18px;
    height: 18px;
}

.slick-prev {
	left: -17px !important;
}

.slick-next {
	right: -4px !important;
}

.slick-prev, .slick-next {
    z-index: 1;
    top: 46% !important;
}

.slick-prev:before, .slick-next:before {
    font-size: 34px !important;
    line-height: 0 !important;
    color: rgb(0 0 0 / 20%) !important;
}

/* 회원 탈퇴 코멘트 모달 */
.modal{ 
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    display: none;
    z-index: 63;
}

.modal_content{
	width: 515px;
    height: 515px;
    background: #fff;
    border-radius: 10px;
    position: relative;
    top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 16px 20px 18px;
}

.x {
	cursor: pointer;
	padding-left: 15px;
}

.modal .modal_content .modal_head {
	display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.modal .modal_content .modal_head span {
    color: rgb(41, 42, 50);
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.5px;
    line-height: 27px;
    text-align: left;
}

.modal .modal_content .delete-content {
    line-height: 24px;
    color: #4a4a4a;
    font-size: 16px;
}

.modal .modal_content .delete-content p {
    margin: 11px 0 0;
}

.modal .modal_content #delete-auth {
	display: inline-block;
    background-color: #ff1563;
    line-height: 40px;
    font-size: 17px;
    font-weight: 500;
    height: 40px;
    width: 100%;
    border-radius: 6px;
    margin: 17px 0 0;
    border: none;
    color: white;
    cursor: pointer;
}

.modal .modal_content .authdiv {
	display: none;
	margin: 17px 0 0;
}

.modal .modal_content .authdiv > #authnum {
	width: 76%;
    height: 41px;
    margin-bottom: 10px;
    border: none;
    background: #F5f5f5;
    border-radius: 6px;
    padding: 0 12px;
    caret-color: #FF2F62;
}

.modal .modal_content .authdiv > #authnum:focus {
	outline: none;
}

.modal .modal_content .authdiv > #delete-authbt {
    background-color: #ff1563;
    width: 18%;
    margin: 2px 0 0 0;
    border-radius: 6px;
    line-height: 39px;
    font-size: 17px;
    font-weight: 500;
    color: white;
    border: none;
    cursor: pointer;
}

.modal .modal_content #delete {
	display: none;
    background-color: #ff1563;
    line-height: 40px;
    font-size: 17px;
    font-weight: 500;
    height: 40px;
    width: 100%;
    border-radius: 6px;
    margin: 17px 0 0;
    border: none;
    color: white;
    cursor: pointer;
}