<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.moviepedia.mapper.AdminMapper">
	<insert id="minsert">
		insert into movie(moviecode, movietitle, movierelease, movienation, moviegenre, movietime, moviegrade, moviesummary, movieimg) values
		<foreach collection="list" item="item" separator=",">
			(#{item.moviecode}, #{item.movietitle}, #{item.movierelease},
			#{item.movienation}, #{item.moviegenre}, #{item.movietime}, #{item.moviegrade},
			#{item.moviesummary}, #{item.movieimg})
		</foreach>
	</insert>
	<insert id="ainsert">
		insert into actor(moviecode, actorname, actorpart, actorimg) values
		<foreach collection="list" item="item" separator=",">
			(#{item.moviecode}, #{item.actorname},
			#{item.actorpart}, #{item.actorimg})
		</foreach>
	</insert>
	<insert id="pinsert">
		insert into photo(moviecode, photoimg) values
		<foreach collection="list" item="item" separator=",">
			(#{item.moviecode}, #{item.photoimg})
		</foreach>
	</insert>
	<insert id="vinsert">
		insert into video(moviecode, videoimg, videoaddr, videotitle) values
		<foreach collection="list" item="item" separator=",">
			(#{item.moviecode}, #{item.videoimg}, #{item.videoaddr}, #{item.videotitle})
		</foreach>
	</insert>
	
	<select id="mtotal" resultType="_int">
		select count(*) from movie
	</select>
	<select id="atotal" resultType="_int">
		select count(*) from actor
	</select>
	<select id="ptotal" resultType="_int">
		select count(*) from photo
	</select>
	<select id="vtotal" resultType="_int">
		select count(*) from video
	</select>
	<select id="movieCodesDB" resultType="string">
		select moviecode from movie
	</select>
	
	<update id="boxUpdate_0">
		update movie set boxoffice = 0
	</update>
	<update id="boxUpdate_1">
		update movie set boxoffice = ${rank} where moviecode = #{boxoffice}
	</update>
</mapper>