<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.moviepedia.mapper.AdminMapper">
	<insert id="minsert">
		insert ignore into movie(moviecode, movieKtitle, movieEtitle, moviegenre, movienation, movietime, movierelease, moviedirector, moviegrade, movieimg, movieHsummary, movieCsummary) values
		<foreach collection="list" item="item" separator=",">
			(#{item.moviecode}, #{item.movieKtitle}, #{item.movieEtitle},
			#{item.moviegenre}, #{item.movienation}, #{item.movietime}, #{item.movierelease},
			#{item.moviedirector}, #{item.moviegrade}, #{item.movieimg}, #{item.movieHsummary}, #{item.movieCsummary})
		</foreach>
	</insert>
	<insert id="ainsert">
		insert ignore into actor(actorcode, moviecode, actorKname, actorEname, actorpart, actorrole, actormovie, actorimg) values
		<foreach collection="list" item="item" separator=",">
			(#{item.actorcode}, #{item.moviecode}, #{item.actorKname}, #{item.actorEname},
			#{item.actorpart}, #{item.actorrole}, #{item.actormovie}, #{item.actorimg})
		</foreach>
	</insert>
	<insert id="pinsert">
		insert ignore into photo values
		<foreach collection="list" item="item" separator=",">
			(#{item.photocode}, #{item.photoimg}, #{item.moviecode})
		</foreach>
	</insert>
	
	<select id="mtotal" resultType="_int">
		select count(*) from movie
	</select>
	<select id="atotal" resultType="_int">
		select count(*) from actor
	</select>
	<select id="ptotal" resultType="_int">
		select count(*) from photo
	</select>
</mapper>