<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.moviepedia.mapper.MovieMapper">
	<select id="mtotal" resultType="_int">
		select count(*) from movie
	</select>
	
	<select id="allGenre" resultType="string">
		select moviegenre from movie
	</select>
	
	<select id="top10" resultType="com.moviepedia.domain.MovieDTO">
		select * from movie order by moviestar desc limit 0,10
	</select>
	
	<select id="likeTop20" resultType="com.moviepedia.domain.MovieDTO">
		select * from movie order by movielike desc limit 0,20
	</select>
	
	<select id="genreMovie" resultType="com.moviepedia.domain.MovieDTO">
		select * from movie where moviegenre like concat("%",#{genre},"%") order by movierelease desc
	</select>
	
	<select id="reMovie" resultType="com.moviepedia.domain.MovieDTO">
		select * from movie where movierelease like "%재개봉%" order by movierelease desc
	</select>
	
	<select id="kMovie" resultType="com.moviepedia.domain.MovieDTO">
		select * from movie where movienation like "%대한민국%" order by movierelease desc
	</select>
	
	<select id="fMovie" resultType="com.moviepedia.domain.MovieDTO">
		select * from movie where movienation not like "%대한민국%" order by movierelease desc
	</select>
	
	<select id="movie" resultType="com.moviepedia.domain.MovieDTO">
		select * from movie where moviecode=#{moviecode}
	</select>
	
	<select id="actors" resultType="com.moviepedia.domain.ActorDTO">
		select * from actor where moviecode=#{moviecode}
	</select>
	
	<select id="photos" resultType="com.moviepedia.domain.PhotoDTO">
		select * from photo where moviecode=#{moviecode}
	</select>
</mapper>